section.Articles.Container
  .Articles-Column.Articles-Review.Review
    .Review-Image
      picture
        img(src="images/rec3.png")
    .Review-Label
      .Review-Theme.Review-Theme--color-3 4 Soul
      .Review-Author Марк Аврелий
    .Review-Title.Title.Title--h2 Сомнительное дерьмо с Мэтью
  .Articles-Column
    .Articles-Grid
      .Articles-Article.Article.New
        a.Article-Image.New-Image(href="#")
          img(src="images/film12.png")
        .New-Content
          a.Article-Title.Title.Title--h3(href="#") Почему Пенелопа такая бойкая
          .Article-Text Актёрскую карьеру Пенелопа начала в 1991 году на телевидении...
          .Article-Text
            | 23.11.1989
            br
            | Andrey Konovalov
          a.New-More.More.More--color-4(href="#")
            .More-Comments Подробнее...
      .Articles-Article.Article.New
        a.Article-Image.New-Image(href="#")
          img(src="images/film13.png")
        .New-Content
          a.Article-Title.Title.Title--h3(href="#") Робби Марго у Тарантино
          .Article-Text Австралийская актриса и кинопродюсер...
          .Article-Text
            | 28.11.1978
            br
            | Andrey Konovalov
          a.New-More.More.More--color-4(href="#")
            .More-Comments Подробнее...
      .Articles-Article.Article.New
        a.Article-Image.New-Image(href="#")
          img(src="images/film14.png")
        .New-Content
          a.Article-Title.Title.Title--h3(href="#") CLIMAX - откуда такое...
          .Article-Text Рождение и смерть — невероятный опыт, а жизнь — ускользающее...
          .Article-Text
            | 23.11.1991
            br
            | Andrey Konovalov
          a.New-More.More.More--color-4(href="#")
            .More-Comments Подробнее...
      .Articles-Article.Article.New
        a.Article-Image.New-Image(href="#")
          img(src="images/film15.png")
        .New-Content
          a.Article-Title.Title.Title--h3(href="#") Новая Лара у Карла украла
          .Article-Text Персонаж из оригинальной серии игр от Core Design
          .Article-Text
            | 23.11.1989
            br
            | Andrey Konovalov
          a.New-More.More.More--color-4(href="#")
            .More-Comments Подробнее...
      .Articles-Article.Articles-Article--full.Article.New
        a.Article-Image.New-Image(href="#")
          img(src="images/film16.png")
        .New-Content
          a.Article-Title.Title.Title--h3(href="#") Как Джокер Хоакина Феникса связан с самим актером?
          .Article-Text Американский актёр, продюсер, клипмейкер и музыкант. Младший брат актёра Ривера Феникса...
          a.New-More.More.More--color-2(href="#")
            .More-Comments Подробнее...


