section.DayArticle.Container.Container--large
  a.DayArticle-Image(href="#")
    picture
      img(src="images/dayArticle.png")
  .DayArticle-Content
    .DayArticle-Subtitle.Title.Title--h3 Статья дня:
    a.DayArticle-Title.Title.Title--h2 Постная антисоветская хуета, или таки новое слово?
    .DayArticle-Text.Lead История двух молодых женщин-фронтовичек, которые возвращаются в послевоенный Ленинград и пытаются обрести новую мирную жизнь, когда и вокруг, и главное, внутри них — руины...

    a.New-More.More.More--color-2(href="#")
      .More-Comments Подробнее...
