section.Hero.Container.Container--large
  .Hero-Pic
    picture
      img(src="images/hero.jpg")
  .Hero-Content
    .Hero-Title
      .Hero-TitleFirst Arial
      | Black
    .Hero-TextBlock
      .Hero-Subtitle.Title.Title--h2.Title--underline А нам нравится
      .Hero-Text.Lead В соцсетях развернулись настоящие баталии вокруг молодой афроамериканской актрисы и певицы Холли Бэйли... А нам по кайфу!
      .Hero-More.More Подробнее...
