.Hero
  .Hero-Pic
    picture
      img(src="images/hero.jpg")
  .Hero-Content
    .Hero-Title
      .Hero-TitleFirst Arial
      | Black
    .Hero-TextBlock
      .Hero-Subtitle А нам нравится
      .Hero-Text
      .Hero-More.More Подробнее...
