doctype
html(lang="ru")
head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Climax
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap", rel="stylesheet")
    link(href="css/style.min.css", rel="stylesheet")
body
    block main-header

    block main

    block footer
