section.News.News--hor.Container
  .News-New.New
    a.New-Image(href="#")
      img(src="images/film8.png")
    .New-Content
      a.Title.Title--h3.Title--underline(href="#") Пришельцы опять нападают
      a.New-More.More.More--color-1(href="#")
        .More-Comments
          span.More-CommentsNum 1
          | Подробнее...
  .News-New.New
  a.New-Image(href="#")
    img(src="images/film9.png")
  .New-Content
    a.Title.Title--h3.Title--underline(href="#") Марк Стронг не такой уж и стронг
    a.New-More.More.More--color-2(href="#")
      .More-Comments
        span.More-CommentsNum 2
        | Подробнее...
  .News-New.New
  a.New-Image(href="#")
    img(src="images/film10.png")
  .New-Content
    a.Title.Title--h3.Title--underline(href="#") Бёрдмен 2. Зачем
    a.New-More.More.More--color-3(href="#")
      .More-Comments
        span.More-CommentsNum 3
        | Подробнее...
  .News-New.New
  a.New-Image(href="#")
    img(src="images/film11.png")
  .New-Content
    a.Title.Title--h3.Title--underline(href="#") Почему Траволта крутецкий перец
    a.New-More.More.More--color-4(href="#")
      .More-Comments
        span.More-CommentsNum 1
        | Подробнее...
