section.Premiere
  .Container
    .Premiere-TitleSection
      .Premiere-MainTitle
        | Premiere
        span.Premiere-Letter 's
      .Premiere-Subscribe
        img.Premiere-Icon(src="images/mail.png")
        .Premiere
    .Premiere-Content
      .Premiere-First
        a.Premiere-Title.Title.Title--h3(href="#") Однажды в Голливуде
        a.Premiere-Image--vert(href="#")
          img(src="images/film1.png")
        a.New-More.More.More--color-1(href="#")
          .More-Comments
            span.More-CommentsNum 2
            | Подробнее...
      .Premiere-NewsSection
        .Premiere-Calendar
          .Premiere-Arr.Premiere-Prev
          .Premiere-Month Сентябрь.2020
          .Premiere-Arr.Premiere-Next
        .Premiere-News
          .Premiere-New.New
            a.New-Image(href="#")
              img(src="images/film2.png")
            .New-Content
              a.Premiere-Title.Title.Title--h3.Title--underline(href="#") Убийца
              .Premiere-Subtitle.Lead Кровавая бойня
              a.New-More.More.More--color-3(href="#")
                .More-Comments
                  span.More-CommentsNum 2
                  | Подробнее...
          .Premiere-New.New
            a.New-Image(href="#")
              img(src="images/film3.png")
            .New-Content
              a.Premiere-Title.Title.Title--h3.Title--underline(href="#") Белый лебедь
              .Premiere-Subtitle.Lead Новый каст!
              a.New-More.More.More--color-1(href="#")
                .More-Comments
                  span.More-CommentsNum 2
                  | Подробнее...
          .Premiere-New.New
            a.New-Image(href="#")
              img(src="images/film4.png")
            .New-Content
              a.Premiere-Title.Title.Title--h3.Title--underline(href="#") Джон Уик 4
              .Premiere-Subtitle.Lead Киану теперь киборг
              a.New-More.More.More--color-4(href="#")
                .More-Comments
                  span.More-CommentsNum 2
                  | Подробнее...
          .Premiere-New.New
            a.New-Image(href="#")
              img(src="images/film5.png")
            .New-Content
              a.Premiere-Title.Title.Title--h3.Title--underline(href="#") Бойцовский клуб 2
              .Premiere-Subtitle.Lead Как говорится, "да, дайте два"
              a.New-More.More.More--color-3(href="#")
                .More-Comments
                  span.More-CommentsNum 1
                  | Подробнее...
          .Premiere-New.New
            a.New-Image(href="#")
              img(src="images/film6.png")
            .New-Content
              a.Premiere-Title.Title.Title--h3.Title--underline(href="#") Пыль войны
              .Premiere-Subtitle.Lead Климакс режиссуры Голливуда
              a.New-More.More.More--color-4(href="#")
                .More-Comments
                  span.More-CommentsNum 3
                  | Подробнее...
          .Premiere-New.New
            a.New-Image(href="#")
              img(src="images/film7.png")
            .New-Content
              a.Premiere-Title.Title.Title--h3.Title--underline(href="#") Однажды в Голливуде
              .Premiere-Subtitle.Lead Тарантино опять напридумывал
              a.New-More.More.More--color-1(href="#")
                .More-Comments
                  span.More-CommentsNum 5
                  | Подробнее...





