section.Reviews.Container
  .Reviews-Column
    .Review
      .Review-Image
        picture
          img(src="images/rec2.png")
      .Review-Label
        .Review-Theme.Review-Theme--color-3 4 Soul
        .Review-Author Марк Аврелий
      .Review-TitleSection
        .Review-Subtitle Что такое
        .Review-Title.Title.Title--h2 "Боль и слава" Альмодовара
    .New
        a.New-Image(href="#")
          img(src="images/film17.png")
        .New-Content
          a.Title.Title--h3(href="#") Холодное сердце 2
          .Article-Text Анна, Эльза, Кристоф, его верный олень Свен и никогда не унывающий снеговик Олаф...
          .Article-Text
            | 23.11.1989
            br
            | Andrey Konovalov
          a.New-More.More.More--color-3(href="#")
            .More-Comments Подробнее...
  .Reviews-Column.Reviews-Column--grid
    .Thumb.Thumb--offset
      img(src="images/film18.png")
    .Thumb
      img(src="images/film19.png")
    .Thumb
      img(src="images/film20.png")
    .Thumb
      img(src="images/film21.png")
    .Review
      .Review-Image
        picture
          img(src="images/rec1.png")
      .Review-Label
        .Review-Theme.Review-Theme--color-1 Amazing
        .Review-Author Марк Аврелий
      .Review-TitleSection
        .Review-Title.Title.Title--h2 Доктор сон Кинга
    .Thumb
      img(src="images/film22.png")
    .Thumb
      img(src="images/film23.png")
