.Review
  .Review-Image
    picture
      img(src="images/rec3.png")
  .Review-Label
    .Review-Theme.Review-Theme--color-3 4 Soul
    .Review-Author Марк Аврелий
  .Review-Title.Title--h2 Сомнительное дерьмо с Мэтью
