mixin social(cn)
  div(class=cn)
    a.Social-Item.Social-Tm(href="#") Telegram
    a.Social-Item.Social-Vk(href="#") Вконтакте
    a.Social-Item.Social-Tw(href="#") Twitter
    a.Social-Item.Social-Fb(href="#") Facebook

