section.Waited.Container
  a.Waited-Image(href="#")
    picture
      img(src="images/waited.png")
  .Waited-Content
    .Waited-Subtitle.Title.Title--h3 Ожидаемое:
    a.Waited-Title.Title.Title--h2 Битва за землю
    .Waited-Text.Lead Жанр: фантастика, триллер
    .Waited-Text.Lead Режиссёр:
      | Руперт Уайатт.
      br
      | В ролях: Джон Гудман, Вера Фармига, Эштон Сандерс.
    .Waited-Text.Lead
      | Мы всегда знали, что не одни в этом мире.
      br
      | Мы отправляли сигналы в надежде получить ответ. И нас услышали.
    a.New-More.More.More--color-2(href="#")
      .More-Comments Подробнее...
