extends ../templates/layout.pug

block main-header
  include ../templates/main-header.pug

block main
  main.Main
    include ../templates/hero.pug

    include ../templates/premiere.pug

    include ../templates/articles.pug

    include ../templates/dayArticle.pug

    include ../templates/waited.pug

    include ../templates/news.pug

block footer
  include ../templates/main-footer.pug
