extends ../templates/layout.pug

block main-header
  include ../templates/main-header.pug

block main
  block hero
    include ../templates/hero.pug

  block premiere
    include ../templates/premiere.pug

block footer
  include ../templates/main-footer.pug
