.DayArticle {
  position: relative;

  &-Content {
    position: absolute;
    left: 50%;
    bottom: 60px;
    width: 27%;
  }

  &-Subtitle {
    margin-bottom: 40px;
    color: var(--color-subtitle-2);
  }

  &-Title {
    margin-bottom: 70px;
  }

  &-Text {
    margin-bottom: 35px;
    padding-right: 70px;
  }
}
