html {
  --color-layout-body: #24293d;
  --color-layout-primary: rgba(0, 0, 0, .3);
  --color-layout-secondary: rgba(0, 0, 0, .5);
  --color-layout-footer: #141722;

  --color-black: #000;
  --color-white: #fff;

  --color-subtitle: #c2c2c2;
  --color-subtitle-2: #dee0e1;

  --color-1: #169afc;
  --color-2: #f21440;
  --color-3: #ff5efd;
  --color-4: #ff8629;

  --color-text-primary: #fff;
  --color-text-secondary: #505050;

  --color-hover: rgba(0, 0, 0, .8);

  background-color: var(--color-layout-body);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.Container {
  min-width: $screen-mobile;
  max-width: $screen-desktop;
  margin-right: auto;
  margin-left: auto;

  &--large {
    max-width: $screen-max;
  }
}

.Main {
  section {
    margin-bottom: 60px;
  }
}

.Lead {
  font-size: 14px;
  color: var(--color-subtitle)
}
